*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
	/**/background: url(Sesion.png);
	/*background-color: black;*/
	background-repeat: no-repeat; /*Para que no se repita la imagen*/
	background-attachment: fixed; /*Para que la imagen quede fija*/
	background-size: cover;
}

h1{

	color:#39B8CB;
}
label{

	color: white;
}

a{
text-decoration: none; /*Eliminar linea debajo de los linck*/	
}



form {
	background: rgba(31,31,31,0.6); /*Transparencia*/
	border-radius: 3px;
	width: 750px;
	padding: 20px;
	margin: 200px auto;
	overflow: hidden;
	font-family: sans-serif;
	border: 6px solid #39B8CB;
    /*
	#155A04
	*/	
}

form input{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 10px 0px 20px 0px;
	border: 3px solid #39B8CB;
	/**/border-radius: 5px;
	outline: none;
}

.Regis input{

	border-radius: 5px;
	width: 200px;
	border: 3px solid #39B8CB;
}

form input[type="submit"]:hover{
	background: #B9E3FB;
	/*border-bottom: 5px solid #FCCC00;*/
	transition: 0.7s all linear;
}